<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.hongzheng.me" target="_blank" title="Hongzheng's blog">Hongzheng's blog</a></li>
    </ul>
</div>
